@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@200&display=swap');

*{
    font-family: 'Roboto Serif', serif;
}
.background-info{
    background-color: white !important;
}

.background-normal{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(images/Olympics-Logo.png);
}
.card-index{
    width: 178px;
    height: 145px;
    display: inline-block;
    border-radius: 6px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 48px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    margin-top: -8px;
}

.card-index:hover{
    transform: translateY(-10px);
}

.card-1{
    background-image: url(images/panama_flag.png);
}
.card-1 a{
    color: black !important;
}

.card-2{
    background-image: url(images/belize_flag.png);
}
.card-2 a{
    color: black!important;
}

.card-3{
    background-image: url(images/honduras_flag.png);
}
.card-3 a{
    color: black!important;
}

.card-4{
    background-image: url(images/costa_rica_flag.png);
}
.card-4 a{
    color: black!important;
}

.card-5{
    background-image: url(images/guatemala_flag.png);
}
.card-5 a{
    color: black!important;
}

.card-6{
    background-image: url(images/el_salvador_flag.png);
}
.card-6 a{
    color: black!important;
}

.col{
    flex-basis: 50%;
}

.container-cont{
    width: 100%;
    height: 97vh;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

h1{
    color: #fff;
    font-size: 70px;
    margin-bottom: 15px;
}

h5{
    margin-top: 30px!important;
}

.info-button{
    width: 180px;
    color: #000;
    font-size: 12 px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 20px;
}

.logo{
    width: 50px;
    cursor: pointer;
}

.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}

.navbar{
    height: 22%;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.nav ul li{
    list-style: none;
    flex: 1;
    text-align: right;
    margin-left: 60rem;
}

a{
    text-decoration: none !important;
    color: white !important;
}

.nica a{
    color: black!important;
    font-size: 15px;
}

p{
    color: #fff;
    font-size: 15px;
    line-height: 15px;
}

.row{
    display: flex;
    height: 75%;
    align-items: center;
    margin-top: -15px;
}

.table{
    margin-top: 5px;
}
