
{% extends "layout.html" %}

{% block title %}
    Inicio
{% endblock %}

{% block main %}

<div class="col">
    <h1>Something</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Maiores excepturi incidunt minima laboriosam, at asperiores 
            veniam quod sunt explicabo voluptatibus, ipsam recusandae
            dolor labore dolores nisi culpa aspernatur tempore debitis.
        </p>
        
        {% for nica in nica %}   
        <button class="info-button nica" type="button"><a href="/info/{{nica['id_pais']}}">{{nica.nombre}}</a></button>
        {% endfor %}
</div>

<div class="col" style="margin-left: 11px;" >
{% for pais in pais %}   
    {% if pais.id_pais == 1 %}
    <div class="card-index card-1">
        <a href="/info/{{pais['id_pais']}}">{{pais.nombre}}</a>
    </div>  
    {% endif %}    
    
    {% if pais.id_pais == 2 %}
    <div class="card-index card-2">
        <a href="/info/{{pais['id_pais']}}">{{pais.nombre}}</a>   
    </div>  
    {% endif %} 

    {% if pais.id_pais == 3 %}
    <div class="card-index card-3">
        <a href="/info/{{pais['id_pais']}}">{{pais.nombre}}</a>   
    </div>  
    {% endif %} 

    {% if pais.id_pais == 5 %}
    <div class="card-index card-4">
        <a href="/info/{{pais['id_pais']}}">{{pais.nombre}}</a>   
    </div>  
    {% endif %} 

    {% if pais.id_pais == 6 %}
    <div class="card-index card-5">
        <a href="/info/{{pais['id_pais']}}">{{pais.nombre}}</a>   
    </div>  
    {% endif %} 

    {% if pais.id_pais == 7 %}
    <div class="card-index card-6">
        <a href="/info/{{pais['id_pais']}}">{{pais.nombre}}</a>   
    </div>  
    {% endif %} 
{% endfor %} 
</div>

{% endblock %}

</body>
</html>