<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="./static/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <title>Inicio</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <img src="/static/images/Olympics-Logo.png" class="logo">
            <nav>
                <ul>
                    <li class="nav-text"><a href="">HOME</a></li>
                    <li class="nav-text"><a href="">COUNTRY</a></li>
                    <li class="nav-text"><a href="">SEARCH</a></li>
                </ul>
            </nav>
            <img src="/static/images/menu_icon.png" class="menu-icon">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Soemthing</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Maiores excepturi incidunt minima laboriosam, at asperiores 
                veniam quod sunt explicabo voluptatibus, ipsam recusandae
                dolor labore dolores nisi culpa aspernatur tempore debitis.
            </p>
        </div>
        <div class="col"></div>
    </div>
    <!--
    
    
    this is index, a brief description of the commite and options to search
    try searching something:
    <form class="form-inline" action="/" method="POST">
        <input class="form-control mr-sm-2 box" type="search" placeholder="nombre" aria-label="nombre" name="nombre">
        <button class="button_form1 my-2 my-sm-0" type="submit">Search</button>
    </form>

    <table class = "table">
        <thead>
          <tr>
            <th>id</th>
            <th>nombre</th>
          </tr>
        </thead>
        <tbody>
            {% for nombre in nombre %}
                <tr>
                    <td>{{nombre.id_pais}}</td>
                    <td>{{nombre.nombre}}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table> -->
</body>
</html>