<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="./static/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href=" ">
                <img src="/static/images/Olympics-Logo.png" class="logo">
            </a>
        </div>

        <div class="row">
          <table class = "table">
            <thead>
              <tr>
                <th>id</th>
                <th>pais</th>
                <th>nombre</th>
                <th>afectado</th>
                <th>porcentaje</th>
                <th>total</th>
              </tr>
            </thead>
            <tbody>
                {% for nombre in nombre %}
                    <tr>
                        <td>{{nombre.id}}</td>
                        <td>{{nombre.id_pais}}</td>
                        <td>{{nombre.nombre}}</td>
                        <td>{{nombre.afectado}}</td>
                        <td>{{nombre.porcentaje}}</td>
                        <td>{{nombre.total}}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table> 
        </div>
    </div>
    
</body>
