<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="./static/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container-cont background-normal">
        <div class="navbar">
            <a href=" ">
                <img src="/static/images/Olympics-Logo.png" class="logo">
            </a>
            <div class = "nav">
                <ul>
                    <li><a href="{{url_for('index')}}">Inicio</a> </li>
                </ul>
            </div>
        </div>

        <div class="row">
            {% block main %}{% endblock %}
        </div>
    </div>
    
</body>